@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply bg-background text-primary overflow-hidden;
  }
}

@layer components {
  .aws-component {
    @apply cursor-pointer transition-all duration-300;
  }

  .aws-component-hover {
    @apply scale-105 brightness-110;
  }
}

@layer utilities {
  .glow {
    filter: drop-shadow(0 0 8px rgba(56, 174, 204, 0.5));
  }

  .grid-pattern {
    background-image: radial-gradient(
      rgba(56, 174, 204, 0.1) 1px,
      transparent 1px
    );
    background-size: 20px 20px;
  }
}
